{% extends 'layouts/base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
<div>
    <div>
        <div>
            <div>
                <form method="post">
                    <div>
                        {# error alert #}
                        {% if error %}
                            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {# info alert #}
                        {% if app.user %}
                            <div>
                                You are logged in as
                                {{ app.user.userIdentifier }},
                                <a href="{{ path('app_logout') }}">Logout</a> or
                                <a href="{{ path('app_default_dashboard', {user_id: app.user.id}) }}">Access to app</a>
                            </div>
                        {% endif %}
                    </div>

                    <h1>Please sign in</h1>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <div>
                        <label for="inputEmail">Email</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" autocomplete="email" required autofocus>
                    </div>
                    <div class="mb-3">
                        <label for="inputPassword">Password</label>
                        <input type="password" name="password" id="inputPassword" autocomplete="current-password" required>
                    </div>

                    <div>
                        <div>
                            <div>
                                <input class="form-check-input" type="checkbox" id="remember-me" name="_remember_me">
                                <label class="form-check-label" for="remember-me">Remember me</label>
                            </div>
                        </div>
                        <div>
                            <button type="submit">
                                Sign in
                            </button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}