{% set current_route = app.request.get('_route') %}
<div>
	<div class="row g-0">
		<div class="col-auto pe-0">
			<div class="d-flex flex-column">
				<a href="{{ path('app_front_home') }}" class="btn btn-sm mb-1 {% if 'app_front_home' in current_route %}active{% endif %}">
					<i class="bi bi-house"></i>
				</a>
				<a href="{{ path('app_admin_dashboard') }}" class="btn btn-sm mb-1 {% if 'app_admin_dashboard' in current_route %}active{% endif %}">
					<i class="bi bi-speedometer2"></i>
				</a>
        <a href="" class="btn btn-sm mb-1 dropdown-toggle {% if 'app_admin_user' in current_route %}active{% endif %}" data-bs-toggle="dropdown" id="dropdownUserMenu" aria-expanded="false">
					<i class="bi bi-person"></i>
				</a>
        <ul class="dropdown-menu dropdown-menu-end mt-1" aria-labelledby="dropdownUserMenu">
          <li>
            <a href="{{path('app_admin_user_index')}}" class="dropdown-item" type="button">
              <i class="bi bi-person me-1"></i> All users
            </a>
          </li>
          <li>
            <a href="{{path('app_admin_user_new')}}" class="dropdown-item" type="button">
              <i class="bi bi-person-plus me-1"></i> All new
            </a>
          </li>
        </ul>
			</div>
		</div>
		<div class="col ps-1 px-0 collapse collapse-horizontal" id="sidebarLabels">
			<div class="d-flex flex-column align-items-start">
				<a href="{{ path('app_front_home') }}" class="btn btn-sm mb-1 text-nowrap {% if 'app_front_home' in current_route %}active{% endif %}">
					<span>Back to front</span>
				</a>
			</div>
			<div class="d-flex flex-column align-items-start">
				<a href="{{ path('app_admin_dashboard') }}" class="btn btn-sm mb-1 text-nowrap {% if 'app_admin_dashboard' in current_route %}active{% endif %}">
					<span>Dashboard</span>
				</a>
			</div>
      <div class="d-flex flex-column align-items-start">
				<a href="{{ path('app_admin_user_index') }}" class="btn btn-sm mb-1 text-nowrap {% if 'app_admin_user' in current_route %}active{% endif %}">
					<span>Users</span>
				</a>
			</div>
		</div>
	</div>
</div>